.git
.gitignore
.vercel

node_modules
client/node_modules
server/node_modules
api/node_modules

client/dist

npm-debug.log
yarn-error.log
pnpm-debug.log

.env
.env.*

coverage
dist
.DS_Store
Thumbs.db